.app-context-panel {
  position: relative;
  z-index: 1;
  background-color: var(--background-color-app-panel);
}

.app-context-panel__target {
  position: absolute;
  right: -15px;
  top: 37%;
  cursor: pointer;
}

.context-panel-tab__tab {
  height: 104px;
  width: 16px;
}

.context-panel-tab__tab PATH {
  fill: var(--background-color-app-panel);
}

.context-panel-tab:hover .context-panel-tab__tab PATH {
  fill: url(#context-panel-tab__opacity-gradient) var(--actionable-hover-background);
}

.context-panel-tab__opacity-gradient-first-stop {
  stop-color: var(--background-color-app-panel);
}

.context-panel-tab__opacity-gradient-second-stop,
.context-panel-tab__opacity-gradient-third-stop {
  stop-color: var(--actionable-hover-background);
}

.context-panel-tab__icon {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 14px;
}

.context-panel-tab__icon-item {
  background: white;
  height: 2px;
  display: block;
  border-radius: 3px;
  margin-bottom: 2px;
}
