.app-context-panel {
  position: relative;
  z-index: 1;
  background-color: var(--background-color-app-panel);
}

.app-context-panel__target {
  position: absolute;
  right: -15px;
  top: 37%;
  cursor: pointer;
}

.context-panel-tab__tab {
  height: 104px;
  width: 16px;
}

.context-panel-tab__tab PATH {
  fill: var(--background-color-app-panel);
}

.context-panel-tab:hover .context-panel-tab__tab PATH {
  fill: var(--actionable-hover-background);
}

.context-panel-tab__icon {
  position: absolute;
  top: 44px;
  left: -2px;
  height: 16px;
  width: 16px;
}

.context-panel-tab__icon PATH {
  stroke: var(--actionable-color);
}
