.icon-button {
  cursor: pointer;
  background: none;
  border: none;
  display: inline-block;
}

.icon-button__icon {
  width: 24px;
  height: 24px;
}

.icon-button__icon.zui-chevron-left path,
.icon-button__icon.zui-chevron-right path {
  path {
    fill: var(--font-color-primary);
  }
}

.icon-button__icon.zui-sun path {
    stroke: var(--font-color-primary);
}

.icon-button__icon.zui-moon path {
    stroke: var(--font-color-primary);
}
