.icon-button {
  cursor: pointer;
  background: none;
  border: none;
  display: inline-block;
}

.icon-button__icon {
  width: 24px;
  height: 24px;

  &.zui-chevron-left,
  &.zui-chevron-right {
    path {
      fill: var(--font-color-primary);
    }
  }

  &.zui-sun {
    path {
      stroke: var(--font-color-primary);
    }
  }

  &.zui-moon {
    path {
      stroke: var(--font-color-primary);
    }
  }
}
