.background-image {
  opacity: 0;
  transition: transform var(--animation-duration-triple, 900ms);

  transform-origin: 50% 50%;
  transform: scale(1.025);
}

.background-image.fade-in {
  animation: fadein var(--animation-duration-triple, 900ms) ease-out forwards;
  transform: scale(1);
}

.background-image.fade-in.fade-double {
  animation: fadein var(--animation-duration-double, 600ms) ease-out forwards;
}

.background-image.fade-out {
  animation: fadeout var(--animation-duration-triple, 900ms) ease-out forwards;
  transform: scale(1.025);
}

.background-image.fade-out.fade-double {
  animation: fadeout var(--animation-duration-double, 600ms) ease-out forwards;
}

.background-image.fade-double {
  transition-duration: var(--animation-duration-double, 600ms);
}

.background-image.loaded {
  opacity: 1;
  transform: scale(1);
}

.background-image.hover-zoom:hover {
  transition-duration: var(--animation-duration-default, 300ms);
  transform: scale(1.01) !important;
}

.background-image.background-image__shaded::before {
  background-image: linear-gradient(to bottom,
  transparent 0%,
  transparent 70%,
  rgba( 0, 0, 0, 0.1 ) 80%,
  rgba( 0, 0, 0, 0.3 ) 100% );
  content: "\00a0";
  height: 100%;
  position: absolute;
  width: 100%;
}
